@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap");


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Advent Pro", sans-serif;
}

html, body {
    overflow-x: hidden;
}


/* THE TOP-PAGE (NAVABR + LANDING PAGE) */

.top-page {
    height: 125vh;
    width: auto;
    background-image: url("../images/image-principale.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

header {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    background: #FFFFFFBF;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 1.3em;
    height: 55px;
    text-align: center;
    padding-top: 20px;
}

.menu {
    display: flex;
    width: 55vw;
    max-width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
}

.menu li {
    width: 140px;
    height: 55px;
    padding-top: 20px;
    text-align: center;
}

.menu li:hover {
    color: #11A1A1;
    font-size: 22px;
}

.landing-page {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
    color: antiquewhite;
}

.landing-title {
    font-family: "Dancing Script", cursive;
    font-size: 5.5em;
    text-shadow: 2px 5px 3px black;
    margin-bottom: 50px;
}

.line1 {
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 1px;
    background-color: antiquewhite;
}

.landing-detail {
    font-size: 3em;
    text-shadow: 2px 5px 3px black;
    margin-top: 50px;
}


/* PRESENTATION/DESCRIPTION SECTION */

.presentation {
    padding: 100px 10vw 100px 10vw;
    background-color: #FFFAE1;
}

.description {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px
}

.slogan {
    font-size: 1.7em;
    text-align: center;
}

.description-text {
    text-align: justify;
    margin-top: 50px;
}


/* PRESENTATION/DETAILS SECTION */

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.details-item {
    width: auto;
    margin-bottom: 20px;
}

.details-text {
    font-family: "Dancing Script", cursive;
    font-weight: 2px;
    font-size: 30px;
    text-align: center;
}

.details-image {
    width: 180px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px black;
    margin-top: 15px;
}

.details-image:hover {
    width: 184px;
    height: 227px;
    margin-bottom: -2px;
    box-shadow: 5px 5px 7px black;
    transition: 0.1s ease-in-out;
    opacity: 0.7;
}


/* DISCOVER SECTION */

.discover {
    height: 1500px;
    padding: 100px 10vw 0px 10vw;
    background-color: #F1F2F6;
}

.discover-title {
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 80px;
}


.destinations-item {
    position: relative;
    margin-bottom: 12vh;
}

.destinations-image {
    width: 40vw;
    min-width: 300px;
    height: 35vh;
    box-shadow: 5px 5px 30px 2px black;
}

#dest1, #dest3 {
    float: left;
}

#dest2, #dest4 {
    float: right;
}

.destination-name {
    width: 250px;
    height: 50px;
    padding-top: 17px;
    position: absolute;
}

.destination-name p {
    font-size: 1.3em;
    text-align: center;
}

#ocean, #lighthouse {
    left: 35vw;
    top: 20%;
    box-shadow: 5px 5px green;
    background-color: #01DF74;
}

#castle, #vineyard {
    right: 35vw;
    top: 20%;
    box-shadow: -5px 5px #0E8899;
    background-color: cyan;
}


/* BOTTOM-PAGE SECTION */


.bottom-page {
    height: 650px;
    padding: 80px 10vw 0 10vw;
    color: white;
    background-color: #5a4d4d;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 60px;
}

.contact-title {
    font-size: 1.7em;
    font-weight: bold;
    padding-bottom: 30px;
}

.contact-box {
    border-radius:10px;
    width: 70vw;
    min-width: 400px;
    max-width: 550px;
    height: 50px;
}

#contact-message {
    min-width: 400px;
    height: 150px;
}

#contact-submit {
    margin-top: 15px;
    padding-right: 0;
    width: 30vw;
}

#contact-submit:hover {
    width: 29.5vw;
    height: 49px;
    margin-top: 16px;
    color: white;
    background-color: green;
    box-shadow: 1px 1px 3px black;
    transition: 0.2s ease-in-out;
}

.line2 {
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.social-links {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    font-size: 25px;
}

.fa {
    width: 30px;
    text-align: center;
}

.fa-facebook:hover {
    color: rgb(12, 12, 247);
}

.fa-twitter:hover {
    color: rgb(61, 168, 255);
}

.fa-instagram:hover {
    color: rgb(177, 8, 8);
}

.fa:hover {
    font-size: 31px;
}
