@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);


* {
    font-family: "Montserrat";
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

section.top-page {
    background: url('images/bg.jpg');
    background-size: cover;
    height: 80vh;
    padding: 20px;
}

header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 150px;
}


/* Navigation menu */

nav.nav {
    display: flex;
    list-style: none;
    margin-left: 50px;
    width: 70vh;
    justify-content: space-between;
}


nav.nav li {
    color: white;
}


/* Landing page */

.landing-page {
    padding: 20px 50px;
}

.slogan {
    color: white;
    font-size: 80px;
    font-family: "Abril FatFace", cursive;
    font-weight: 100;
}

.scroll-down {
    color: white;
    position: absolute;
    top: 78vh;
}