@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);


html {
    scroll-behavior: smooth;
}

* {
    font-family: "Montserrat";
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

section.top-page {
    background: url("images/bg.jpg");
    background-size: cover;
    height: 100vh;
    padding: 20px;
}

header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 150px;
}


/* Navigation menu */

nav.nav {
    display: flex;
    list-style: none;
    margin-left: 50px;
    width: 70vh;
    justify-content: space-between;
}


nav.nav li {
    color: white;
    text-align: center;
}


/* Landing page */

.landing-page {
    padding: 0px 20px 50px;
    width: 60vw;
}

.slogan {
    color: white;
    font-size: 65px;
    font-family: "Abril FatFace", cursive;
    font-weight: 100;
}

.scroll-down {
    color: white;
    position: absolute;
    top: 95vh;
}


/* Services section */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 75px
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery-icon {
    font-size: 50px;
    color: #ADD981;
}

.services p {
    font-weight: 500;
    text-align: center;
}


/* Best sells */

.best-sells {
    margin: 25px;
}

.best-sells-title {
    font-family: "Abril FatFace", cursive;
    font-weight: 100;
    font-size: 50px;
    position: relative;
    padding-left: 10px;
    border-left: 10px solid #ADD981;
    border-bottom-left-radius: 10px;
    margin: 5vw;
}

.best-sells-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 40px;
    height: 10px;
    bottom: 0;
    left: 0;
}

.best-sells-items {
    display: flex;
    min-height: 500px;
    flex-wrap: wrap;
    margin: 5vw;
}

.best-item {
    background-position: center;
    background-size: cover;
    position: relative;
}

.not-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.item1 {
    background-image: url("images/nos_meilleures_ventes/1.jpg");
}

.item2 {
    background-image: url("images/nos_meilleures_ventes/2.jpg");
}

.item3 {
    background-image: url("images/nos_meilleures_ventes/3.jpg");
}

.item4 {
    background-image: url("images/nos_meilleures_ventes/4.jpg");
}

.name-price {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #FFFFFFBF;
    padding-left: 10px;
    
}

.name {
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 30px;
}

.price {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 25px;
    color: #007000;
}


/* All plants */

.all-plants {
    margin: 25px;
}

.all-plants-title {
    font-family: "Abril FatFace", cursive;
    font-weight: 100;
    font-size: 50px;
    position: relative;
    padding-left: 10px;
    border-left: 10px solid #ADD981;
    border-bottom-left-radius: 10px;
    margin: 5vw;
}

.all-plants-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 40px;
    height: 10px;
    bottom: 0;
    left: 0;
}

.all-plants-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
    margin: 5vw;
}

.grid-item {
    background-position: center;
    background-size: cover;
    position: relative;
    min-width: 150px;
}

.grid-item1 {
    background-image: url("images/nos_plantes/1.jpg");
    grid-column: 1/3;
    grid-row: 1/3;
}

.grid-item2 {
    background-image: url("images/nos_plantes/2.jpg");
    grid-column: 3/5;
    grid-row: 1/2;
}

.grid-item3 {
    background-image: url("images/nos_plantes/3.jpg");
    grid-column: 3/5;
    grid-row: 2/3;
}

.grid-item4 {
    background-image: url("images/nos_plantes/4.jpg");
    grid-column: 1/2;
    grid-row: 3/5;
}

.grid-item5 {
    background-image: url("images/nos_plantes/5.jpg");
    grid-column: 2/4;
    grid-row: 3/5;
}

.grid-item6 {
    background-image: url("images/nos_plantes/6.jpg");
    grid-column: 4/5;
    grid-row: 3/5;
}


/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    font-weight: 600px;
    align-items: center;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}